@media screen and (max-width: 600px) {

  .name-header {
    font-size: 28px;
  }

  #lista-nav {
    display: none;
  }

  .introduction-text h1 {
    font-size: 40px;
  }


  .image-perfil {
    width: 230px;
    height: 230px;
    object-position: bottom -170px right 0;
  }

  .introduction-btn {
    display: none;
  }
}