* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ruluko', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: rgb(10,16,13);
}
/* Ajuste de expaçamento entre linhas */
h3, h4, p, li{
 margin-bottom: 10px;   
}

nav {
  background-color: white;
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  padding: 20px;  

}

.name-header{
    font-family: Courgette, cursive;
    font-size: 22px;
    padding-left: 25px;
}

.button{
    padding: 0px 10px;    
    width: 15%;
    text-align: center;
    color: black;
    text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

a:active{
    color: rgb( 196, 90, 179);
}
/* bloco de introdução, bem vindo ao perfil */
.introduction {
    padding: 75px 100px 10px 100px;
    background-color: rgb(162,102,111);
    color: white;
}
.introduction-block{    
    max-width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 17px;
    display: inline-block;        
    vertical-align: top;
}
.color-text-bold {
    color: rgb(99,26,134);
}

.introduction-block h1 {
    color: rgb(196, 90, 179);
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.introduction-text{
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: 25px;
    padding: 10px;
}
.image-perfil {
    width: 150px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

/* corpo da pagina */
.margin{
margin-left: 100px;
max-width: 72%;
margin-top: 40px;
margin-bottom: 30px;
padding: 18px;
}
.title{
    color: rgb(99,26,134);
    padding-top: 15px ;
    padding-bottom: 15px;
    font-family: 'Courgette', 'cursive';
}

.sobre-mim {
    border: 2px solid rgb( 244,147,144); 
    /* background-color: rgb( 196, 90, 179); */
    padding: 18px;
}

.historico {
    background-color: rgb(350, 349, 220);
    line-height: 30px;
}

.skill-block{
    width: 40%;
    padding: 17px;
    display: inline-block;        
    vertical-align: middle;
   }
.skill-block h4{
    text-decoration: underline;
}
ul {
    list-style-type: square;
}

.fa-regular, .fa-solid, .fa-brands{
color: rgb(196, 90, 179);
padding-right: 8px;
}