:root {
  --color-top: rgba(158, 118, 143, 1);
  --color-bottom: rgba(219, 219, 217, 1);
  --color-dark: rgba(22, 27, 34, 1);
  --color-darker: rgba(26, 27, 28, 1);
  --color-gray: rgba(33, 38, 45, 1);
  --color-light-gray: rgba(201, 208, 206, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
}

.home {
  background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  min-height: 50%;
}

.rigth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50%;
  /* margin-bottom: 50%; */

}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 40% 40%;
  border-radius: 50%;
  margin: auto;
}

.buttons-home {
  display: flex;
  flex-direction: column;
}

.button-home {
  margin-bottom: 8px;
}

.icons {
  width: 220px;
  display: flex;
  justify-content: space-around;
}

i {
  font-size: 50px;
}

a {
  color: #212529;
}

i:hover {
  color: #424649;
}

.about-me {
  display: none;
}

@media screen and (min-width: 992px) {

  .home {
    background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;  
    margin: 0;
    /* min-height: 50vh; */
  }
  
  .rigth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 38vw;
    height: 450px;
    margin: 0;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 40% 40%;
    border-radius: 50%;
    margin: auto;
  }

  .about-me {
    display: block;
    /* text-align: center; */
  }

  article {
    line-height: 25px;
  }

  .about-me h1 {
    text-align: center;
  }

  .buttons-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
  }

  .button-home {
    margin: 5px;
  }

  i {
    font-size: 40px;
  }

  .icons {
    width: 150px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-darker);
    color: var(--color-light-gray);
  }
  
  .home {
    background-color: var(--color-darker);
    color: var(--color-light-gray);
  }

  .button-home {
    background-color: var(--color-dark);
    border: var(--color-gray);
    color: var(--color-light-gray);
  }

  i {
    color: var(--color-light-gray);
  }
}