:root {
  --color-top: rgba(158, 118, 143, 1);
  --color-bottom: rgba(219, 219, 217, 1);
  --color-dark: rgba(22, 27, 34, 1);
  --color-darker: rgba(26, 27, 28, 1);
  --color-gray: rgba(33, 38, 45, 1);
  --color-light-gray: rgba(201, 208, 206, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--color-bottom); */
  background-image: linear-gradient(to top, var(--color-top) , var(--color-bottom));
}

.pagePortfolio {
  background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  padding: 8px 20px 85px 20px;
}

.container-carousel {
  width: 90%;
  margin: auto;
  background-color: rgba(219, 219, 217, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.foto-portifolio {
  object-fit: contain;
  border-radius: 0;
  min-width: 90%;
  max-height: 400px;
  /* min-height: 400px; */
  margin: 10px 0;
}

@media screen and (min-width: 765px) {
  .pagePortfolio {
    background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 120px 20px;
  }

  .container-carousel {
    width: 60%;
    margin: 30px auto;
    background-color: rgba(219, 219, 217, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .foto-portifolio {
    object-fit: contain;
    border-radius: 0;
    max-width: 90%;
    min-height: 400px;
    margin: 10px auto;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom, var(--color-top) , var(--color-darker));
    color: var(--color-light-gray);
  }
  
  .pagePortfolio {
    background-image: linear-gradient(to bottom, var(--color-top) , var(--color-darker));
    color: var(--color-light-gray);
  }

  .container-carousel {
    background-color: var(--color-gray);
    border: var(--color-light-gray);
    color: var(--color-light-gray);
  }

  .container-carousel a {
    color: var(--color-light-gray);
  }
}
