:root {
  --color-top: rgba(158, 118, 143, 1);
  --color-bottom: rgba(219, 219, 217, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--color-bottom); */
  background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
}

.pageExperienceEducation {
  background-image: linear-gradient(to bottom, var(--color-top) , var(--color-bottom));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 20px;
}

.showBlock {
  display: none;
}

@media screen and (min-width: 765px) {
  .pageExperienceEducation {
    padding: 100px 20px;
    justify-content: flex-start;
  }
  
  .pageExperienceEducation .card {
    width: 300px;
  }

  .pageExperienceEducation .card .card-body {
    display: flex;
    flex-direction: column;
  }

  .container-content-education {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .container-content-education img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 8px auto;
  }

  .container-content-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .container-content-experience img {
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 8px auto;
  }

  .showBlock {
    display: block;
  }

}